.newProduct {
  flex: 4;
  margin: 20px;
}
.addProductForm {
  margin-top: 10px;
}
.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}
.addProductItem > input {
  padding: 10px;
}
.addProductItem > select {
  padding: 10px;
}
.addProductItem > label:focus,
.addProductItem > input:focus,
.addProductItem > select:focus {
  outline: none;
}

.addProductButton {
  width: 80px;
  font-size: 16px;
  color: white;
  background-color: teal;
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.iconUpload {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: green;
}
